@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

:root {
  font-size: 62.5%;

  --card-primary-color: hsl(51, 92%, 62%);
  --card-title-border-color: hsl(51, 69%, 27%);
  --card-bg-color: #1D1C19;
  --bg: url(./assets/bg-yellow.svg);

  --text-color-default: #E1E1E6;
}

body.blue {
    --card-primary-color: #338AF3;
    --card-title-border-color: #2d76cf;
    --card-bg-color: #202024;
    --bg: url(./assets/bg-blue.svg);
}

body.green {
    --card-primary-color: #047C3F;
    --card-title-border-color: #026d37;
    --card-bg-color: #1A1F1B;
    --bg: url(./assets/bg-green.svg);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 1.6rem;
}

body {
  color: #ffffff;
  height: 100vh;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  background-color: #121214;
  background-image: var(--bg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

body * {
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style: none;
}

#app {
  width: fit-content;
  margin: auto;
  padding-top: 5.2rem;
}

header {
  margin-bottom: 6.3rem;
  text-align: center;
}

h1#calendar {
  color: #000000;
  text-transform: uppercase;
  background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgba(217, 217, 217, 0.8) 100%);

  font-weight: 700;
  font-size: 3rem;
  line-height: 125%;
}

@supports (text-fill-color: transparent) {
  h1#calendar {
    text-fill-color: transparent;
    background-clip: text;
  }
}

@supports (-webkit-text-fill-color: transparent) {
  h1#calendar {
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
  }
}

main {
  color: transparent;
  margin-bottom: 3.2rem;
  padding-bottom: 3.2rem;
}

#cards {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.card {
  padding: 3.2rem 2.3rem;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5.3rem;

  min-width: min(31rem, 96vw);

  background: var(--card-bg-color);
  border-bottom: 2px solid var(--card-primary-color);
  border-radius: .6rem;
}

.card ul {
  width: 100%;
}

.card ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card ul li + li {
  border-top: 1px solid #323238;
  margin-top: 2.4rem;
  padding-top: 2.4rem;
}

.card h2 {
  border: 1px solid var(--card-title-border-color);
  border-radius: .6rem;
  padding: .8rem 1.6rem;

  display: flex;
  width: fit-content;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;

  color: #F7DD43;
  font-size: 2.4rem;
  line-height: 125%;
}

.card h2 span {
  font-size: 1.4rem;
  line-height: 125%;
  letter-spacing: .15rem;
  text-transform: uppercase;

  color: var(--text-color-default);
}

.card ul li strong {
  font-size: 3.6rem;
  color: var(--text-color-default);
}

.card h2,
.card ul li strong,
.card ul li img {
  transition: transform 300ms;
}

.card h2:hover,
.card ul li strong:hover,
.card ul li img:hover {
  transform: scale(1.1);
}

.card ul li img {
  width: 5rem;
  height: 5rem;
}

.card {
  opacity: 0;
  animation: appear 600ms forwards;
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(3rem) ;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (min-width: 700px) {
  #cards {
    max-width: 67rem;
    flex-direction: row;
    flex-wrap: wrap;
  }
}